USE [master]
GO
/****** Object:  Database [AEDArbitraje]    Script Date: 16/11/2023 03:15:28 ******/
CREATE DATABASE [AEDArbitraje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AEDArbitraje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AEDArbitraje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AEDArbitraje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AEDArbitraje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AEDArbitraje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AEDArbitraje]
GO
USE [AEDArbitraje]
GO
/****** Object:  Table [dbo].[poldat]    Script Date: 16/11/2023 03:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poldat](
	[polcod] [varchar](50) NOT NULL,
	[polvar] [varchar](50) NULL,
	[polval] [varchar](50) NULL,
	[rtstr1] [varchar](50) NULL,
	[rtstr2] [varchar](50) NULL,
	[rtrnum] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
